.main-body {
  display: grid;
  grid-area: main-body;
  grid-template-rows: 8rem auto;
  color: #d6fb41;
  height: 100%;
}

.main-body__title {
  justify-self: center;
  font-family: "Wellfleet", monospace;
  font-size: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: #f0f0f0;
}
.card {
  display: grid;
  grid-template-columns: 4rem auto;
  grid-template-rows: 4rem auto;
  grid-template-areas:
    "card__title card__title"
    "card__svg card__info";
  border-radius: 1rem;
  font-family: "Wellfleet", monospace;
  justify-self: center;
  background-color: #161616;
}
.card__title {
  grid-area: card__title;
}
.card__svg {
  grid-area: card__svg;
}
.card__info {
  grid-area: card__info;
}
.main-body__summary {
  margin-bottom: 5rem;
  text-align: center;
  width: 100%;
}

.main-body__education {
  display: none;
}
.main-body__skills {
  display: none;
}
.main-body__projects {
  display: none;
}
.main-body__hire-me {
  display: none;
}
