.main-body {
  display: grid;
  grid-area: main-body;
  grid-template-rows: 5rem auto;
  color: #d6fb41;
  height: 100%;
  margin: 0 1rem;
}

.main-title {
  justify-self: center;
  font-family: "Wellfleet", monospace;
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: #f0f0f0;
}

.arrow-btns {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "left right";
  justify-self: center;
  width: 100%;
}
.arrow-btn {
  justify-self: center;
  align-self: center;
  height: 5rem;
  width: 5rem;
}
.arrow-btn--right {
  grid-area: right;
}
.arrow-btn--left {
  grid-area: left;
}

.education__info {
  margin: 0;
}
.education__info h2,
p {
  word-spacing: 0;
  margin: 0;
  padding: 0;
}
.education__info h2 {
  margin-top: 2rem;
}

.skills__info {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.skills__info__svg {
  height: 3rem;
  width: 3rem;
}

.hidden {
  display: none;
}

@media (min-width: 75rem) {
  .main-title {
    font-size: 5rem;
  }
  .main-body {
    grid-template-rows: 8rem auto;
    margin: 0 10rem;
  }
}
